.about {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  line-height: 1.6;
  color: #333333;
  text-align: center;
  position: relative; 
}

.container_loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a94;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
  z-index: 2;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  line-height: 1.6;
  color: #333333;
  text-align: center;
  font-size: 25px;
}

a {
  text-decoration: none;
}
