body {
  background: url(1.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

nav{
  background-color: #cfd8dc;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  
}

.link{
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}



h2{
display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}











